@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-brand-primary: #f5ac3c;
  --color-brand-secondary: #214856;
  --color-content-primary: #1c1c1c;
  --color-content-secondary: #5d5d5d;
  --color-background-primary: #fff;
  --color-background-secondary: #f7ebdf;
}

html,
body {
  @apply bg-background-primary;
  color: var(--color-content-primary);

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

.title-1 {
  @apply text-3xl font-bold;
}
.title-2 {
  @apply text-2xl leading-7 font-semibold;
}

.body-1 {
  @apply text-base leading-5;
}

.body-2 {
  @apply text-sm leading-4;
}
